.app__bg {
  height: 100vh;
}
.form-add {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-add h2 {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  font-family: var(--font-base);
  font-size: medium;
  font-weight: bold;
  margin-bottom: 10px;
}

.formButton {
  padding: 10px 15px;
  align-items: center;
  font-family: var(--font-base);
  font-weight: bolder;
  font-size: large;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
