.app__bg__wrapper__section__menu {
  display: flex;
  background: url(http://localhost:3000/static/media/burger.5e8001288bfb994df3b0.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 5rem 3rem 3rem 5rem;
  height: 75vh;
}

.app__bg__wrapper__section__drinks {
  display: grid;
  grid-template-columns: 50% 50%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 75vh;
}

.app__bg__wrapper__padding_drinks {
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  padding-left: 4rem;
}

.app__wrapper_img_drink {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.app__wrapper_img_drink img {
  width: 55%;
}

.headtext__cormorant {
  font-size: 45px;
  font-weight: 500;
}
.app__viewMenu_menu_items {
  display: grid;
  grid-template-columns: 500px 500px;
  row-gap: 55px;
  column-gap: 150px;
  justify-content: left;
  padding-top: 10px;
}

.app__viewMenu_drinks_items {
  display: grid;
  grid-template-columns: 500px 500px;
  row-gap: 55px;
  column-gap: 150px;
  justify-content: left;
  padding-top: 10px;
}
.meal-page {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
}
.drink-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: white;
}
.headtext__cormorant_p {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 30px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.meal {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}
.drink {
  width: 90%;
  margin: 1rem 0;
  display: grid;
  justify-content: center;
  flex-direction: column;
}
.btn {
  display: flex;
  justify-content: center;
}
.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 30%;
  background-color: rgb(177, 230, 244);
}

.img_drink {
  width: 250px;
  height: 280px;
  object-fit: cover;
  border-radius: 30%;
  background-color: rgb(177, 230, 244);
}

.delete {
  font-family: var(--font-base);
  font-size: 20px;
  letter-spacing: 0.04rem;
  cursor: pointer;
  color: rgb(203, 41, 41);
  font-weight: bolder;
  border-bottom: 1px solid #fff;
  height: 22px;
  margin-top: -10px;
}

.update-btn {
  cursor: pointer;
  height: 22px;
  margin-top: -10px;
  text-decoration: none;
}

.update {
  color: #fff;
  font-family: var(--font-base);
  font-size: 18px;
  letter-spacing: 0.04rem;
  cursor: pointer;
  font-weight: bolder;
  border-bottom: 1px solid #fff;
  margin-left: 10px;
}

.app__wrapper_info_drinks {
  background: url(http://localhost:3000/static/media/drink4.7a25242901278349b9cc.png);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-repeat: repeat;
}

#img_drink {
  background: url(http://localhost:3000/static/media/drink3.16f4594a92c636fbcf0c.png);
  background-repeat: repeat;
}

#arrow-left {
  display: flex;
  position: fixed;
  margin-left: -40px;
  margin-top: -40px;
}
#pizza {
  column-gap: 150px;
}
.pizza {
  width: 135%;
  margin-left: -150px;
}
#pizza-page {
  margin-bottom: 25px;
}
