.app__bg {
  height: 100%;
}

input[type="date"],
.input-one {
  width: 240px;
  padding: 1% 7px;
  background-color: var(--color-golden);
  color: black;
  margin: 2% 0;
  font-family: "Roboto";
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 75px;
}

.content {
  margin-left: 75px;
}

h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
}

p {
  color: var(--color-golden);
  font-family: var(--font-base);
  font-size: 20px;
}

.error-message {
  font-family: "Roboto";
  background-color: #edc446;
  color: black;
  padding: 10px;
  margin-top: 10px;
  width: 20%;
}
.button-light-yellow {
  font-family: "Roboto";
  background-color: #eeb814;

  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  padding: 12px 15px;
}
.button-light-yellow p {
  color: black;
}
