.form-update {
  height: 100vh;
}
input[type="text"] {
  width: 100%;
  padding: 15px;
  font-family: var(--font-alt);
  color: rgb(59, 59, 59);
  font-size: medium;
  font-weight: 600;
  margin-bottom: 10px;
}
.formButton {
  padding: 10px 15px;
  align-items: center;
  font-family: var(--font-base);
  font-weight: bolder;
  font-size: large;
  width: 100%;
  display: flex;
  justify-content: center;
}
.input_number{
  width: 100%;
  padding: 15px;
  font-family: var(--font-alt);
  color: rgb(59, 59, 59);
  font-size: medium;
  font-weight: 600;
  margin-bottom: 10px;
}
