.app__bg{
    height: 100vh;
  }
  .navbar{
    padding-top: 30px;
  }
  .app__navbar-spoon img{
    width: 160px;
    margin-left: 25px;
  }



  
  input[type="date"] {
    width: 100% ;
    padding: 15px;
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 100%;
    padding: 15px;
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type="number"] {
    width: 100%;
    padding: 15px;
    font-family: var(--font-base);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  /* input[type="number"]::placeholder {
    
  } */
  .formButton {
    padding: 10px 15px;
    align-items: center;
    font-family: var(--font-base);
    font-weight: bolder;
    font-size: large;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  